.mega-menu {
  position: static;
}

.mega-menu__content {
  background-color: rgb(var(--color-background));
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  left: 0;
  overflow-y: auto;
  padding-bottom: 3rem;
  padding-top: 3rem;
  position: absolute;
  right: 0;
  top: 100%;
}

.shopify-section-header-sticky .mega-menu__content {
  max-height: calc(100vh - var(--header-bottom-position-desktop, 20rem) - 4rem);
}

.header-wrapper--border-bottom .mega-menu__content {
  border-top: 0;
}

.js .mega-menu__content {
  opacity: 0;
  transform: translateY(-1.5rem);
}

.mega-menu[open] .mega-menu__content {
  opacity: 1;
  transform: translateY(0);
}

.mega-menu__inner {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  width: 100%;
}

.mega-menu__list {
  display: grid;
  gap: 1.8rem 4rem;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  list-style: none;
  flex: 1;
}

.mega-menu__promo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 25%;
  min-width: 250px;
  margin-top: 0;
}

.mega-menu__promo-item {
  display: block;
  text-decoration: none;
}

.mega-menu__promo-image {
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 5;
  object-fit: cover;
  border-radius: var(--media-radius);
}

.mega-menu__promo-title {
  margin-top: 0.8rem;
  color: rgb(var(--color-foreground));
}

@media screen and (min-width: 990px) {
  .header__inline-menu summary .icon-caret {
    display: none;
  }

  .header__inline-menu summary.list-menu__item {
    padding-right: 0;
  }

  .header__inline-menu .list-menu--inline {
    column-gap: 2.4rem;
  }

  .js .mega-menu:hover .mega-menu__content,
  .mega-menu:hover .mega-menu__content {
    opacity: 1;
    transform: translateY(0);
  }
}
